.selected_user {
    background-color: aqua;
    margin: 50px;
}

.post_function {
    background-color: cornsilk;
    margin: 50px;
}

.post_function-pull_down_user {
    display: inline-block;
    margin: 20px;
    padding-right: 10px;
}

.input_text {
    display: inline-block;
    margin: 10px;
    padding-left: 100px;
}

.post_button {
    display: inline-block;
    margin: 10px;
    padding-left: 20px;
}

.my_account {
    background-color: grey;
    padding: 10px;
}

.after_post_view {
    background-color: aliceblue;
    margin: 50px;
}

